body{
    background-color: aquamarine;
}
 /*div{
    /background-color: bisque;
}*//
.container{
background-color: brown;
height: 500px;
width: 400px;
border: 1px solid black0//;
margin: 20px;///////////
}
.child01{
background-color: blue;
height: 100px;
width: 100px;
border: 1px dotted red;
}
#con{
    background-color: greenyellow;
}
.para{
    background-color: cornflowerblue;
}
#par{
    background-color: darkorange;
}